{
  "plugins": [
    ["import", { "libraryName": "antd-mobile" , "style":  true}],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ],
  "ignore": []
}